* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-body: "Roboto", sans-serif;

  --bg-color: #121214;
  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);
  --primary-color: hsl(var(--base-color), 100%, 63%);
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--ff-body);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);
}

.hide {
  display: none;
}

.timer {
  font-size: clamp(4rem, 4rem + 12vw, 8.8rem);
  display: flex;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.controls {
  background: var(--bg-primary-light);
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  gap: 3.2rem;
  width: clamp(10rem, 10rem + 30vw, 22.8rem);
  height: clamp(8rem, 1rem + 10vw, 10.8rem);
}

.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

.sound {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
}
